In [1]:
#importing libraries
import pandas as pd

In [3]:
#creating data
data = pd.DataFrame({"Name": ['Jennifer', 'Michaela', 'Karen','Tina'],
                     "# of products purchased": [2,7,5,10]})

In [5]:
#checking data
data

       Name  # of products purchased
0  Jennifer                        2
1  Michaela                        7
2     Karen                        5
3      Tina                       10

In [7]:
#creating a Total Amount Spent ($) from the # of products purchased column. (Each product is $5)
data['Total Amount Spent($)'] = data['# of products purchased'].apply(lambda x: x*5)

In [9]:
#checking that'Total Amount Spent($)' column has been added 
data

       Name  # of products purchased  Total Amount Spent($)
0  Jennifer                        2                     10
1  Michaela                        7                     35
2     Karen                        5                     25
3      Tina                       10                     50

In [17]:
#creating a spending label column from 'Total Amount Spent($)' column
data['Spending Label'] = data['Total Amount Spent($)'].apply(
       lambda x: 'High Spender' if x > 45 else ('Middle Spender' if x >=25 else 'Low Spender'))

In [19]:
#checking that Spending Label column has been added 
data

       Name  # of products purchased  Total Amount Spent($)  Spending Label
0  Jennifer                        2                     10     Low Spender
1  Michaela                        7                     35  Middle Spender
2     Karen                        5                     25  Middle Spender
3      Tina                       10                     50    High Spender